html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn-1 {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-2 {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-3 {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-4 {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-5 {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-6 {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-7 {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-8 {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-9 {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-10 {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-11 {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}

.btn-12 {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}
