html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  text-align: center;
}

.btn .one {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  font-size: .875rem;
  padding: .4em .75em .3em;
}

.btn .one:hover {
  background-color: #000;
}

.btn .two {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  background-color: #ccc;
  border-radius: 8px;
  font-size: .875rem;
  padding: .4em .75em .3em;
}

.btn .two:hover {
  background-color: #333;
}



.btn-small {
  font-size: .875rem;
  padding: .4em .75em .3em;
}

.btn-small a {
  text-decoration: none;
  display: block;
}

.btn-big {
  text-decoration: none;
  font-size: 1.5rem;
  padding: .4em .75em .3em;
}

.btn-big a {
  display: inline-block;
  background-color: #333;
}


.btn-subtle {
  text-decoration: none;
  color: #fff;
  background-color: #ccc;
  border-radius: 8px;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  display: inline-block;
}

.btn-subtle:hover {
  background-color: #333;
}

.btn-ghost {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  border-color: #000;
}

.btn-ghost:hover {
  background-color: #333;
}

.btn-warning {
  text-decoration: none;
  color: #fff;
  background-color: #f33;
  border-radius: 8px;
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  display: inline-block;
}

.btn-warning:hover {
  background-color: #933;
}












.btn-primary-small {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  font-size: .875rem;
  padding: .4em .75em .3em;
  display: inline-block;
}

.btn-primary-small:hover {
  background-color: #000;
}

.btn-subtle-small {
  text-decoration: none;
  color: #fff;
  background-color: #ccc;
  border-radius: 8px;
  font-size: .875rem;
  padding: .4em .75em .3em;
  display: inline-block;
}

.btn-subtle-small:hover {
  background-color: #333;
}

.btn-ghost-small {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  font-size: .875rem;
  padding: .4em .75em .3em;
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  border-color: #000;
}

.btn-ghost-small:hover {
  background-color: #333;
}

.btn-warning-small {
  text-decoration: none;
  color: #fff;
  background-color: #f33;
  border-radius: 8px;
  font-size: .875rem;
  padding: .4em .75em .3em;
  display: inline-block;
}

.btn-warning-small:hover {
  background-color: #933;
}

.btn-primary-big {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  display: inline-block;
}

.btn-primary-big:hover {
  background-color: #000;
}

.btn-subtle-big {
  text-decoration: none;
  color: #fff;
  background-color: #ccc;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  display: inline-block;
}

.btn-subtle-big:hover {
  background-color: #333;
}

.btn-ghost-big {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  border-color: #000;
}

.btn-ghost-big:hover {
  background-color: #333;
}

.btn-warning-big {
  text-decoration: none;
  color: #fff;
  background-color: #f33;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: .4em .75em .3em;
  display: inline-block;
}

.btn-warning-big:hover {
  background-color: #933;
}
